@{
    ViewBag.nomePag = "Cadastro";
}

<div>
    <fieldset>
        <legend>Cadastro de skate</legend>
        <form action="/Home/Salvar" method="post">
            <div>
                <label>Id: </label><input type="number" id="id" name="id"/>
            </div>
            <div>
                <label>Marca: </label><input type="text" id="marca" name="marca" />
            </div>
            <div>
                <label>Descrição: </label><input type="text" id="descricao" name="descricao" />
            </div>
            <input type="submit" value="Salvar" />
        </form>
    </fieldset>
</div>
