@{
    ViewBag.nomePag = "Listar";
}
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Marca</th>
            <th>Descrição</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>asdasd</td>
            <td>sdf</td>
        </tr>
    </tbody>
</table>