@model List<WebMVC.Models.Skate>
@{
    ViewBag.nomePag = "Listar";
}
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Marca</th>
            <th>Descrição</th>
            <th>Acoes</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Marca</td>
                <td>@item.Descricao</td>
                <td>
                    <a href="/Home/Editar/@item.Id">Editar</a> |
                    <a href="/Home/Deletar/@item.Id">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>